[Unit]
Description=Run Infra Sync synchronization every 10 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
AccuracySec=30s
Persistent=true
Unit=infra-netbox-sync.service

[Install]
WantedBy=timers.target
