[Unit]
Description=Run NetBox Sync scheduler every 60 seconds

[Timer]
OnBootSec=60s
OnUnitActiveSec=60s
AccuracySec=5s
Persistent=true
Unit=netbox-sync.service

[Install]
WantedBy=timers.target
